{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}
{% endblock %}

{% block body %}

    <div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }} - Season : {{ season.number }}</h1>
        <p>Catégorie : {{ program.category.name }}</p>
        <p>{{ program.synopsys }}</p>
    </div>
        <div>
            {% for episode in season.episodes %}
                <p>Episode{{episode.number}}</p>
                <p>Description{{episode.synopsys}}</p>
                <a href="{{ path('program_show', { id: program.id} ) }}">
                    Details
                </a>
                <br>

            {% endfor %}

            <a href="{{ path('program_index') }}">
                Program list
            </a>
        </div>
</div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>


{% endblock %}